<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>师法大梦川</title>
        <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
        <link href="css/app.css?v=<%=version%>" rel="stylesheet">
        <link href="css/app2.css?v=<%=version%>" rel="stylesheet">
        <link href="lib/ion-datetime-picker-master/release/ion-datetime-picker.min.css" rel="stylesheet">
    </head>

    <body ng-app="app">

		<!-- <ui-view ng-controller="AppController"></ui-view> -->

		<style>

			.appLoginNextBtn1 {
				background: #000 !important;
			}
			.appLoginNextBtn2 {
				background: grey !important;
			}

		</style>

        <ion-nav-bar class="bar-light" no-tap-scroll="" ng-controller="rootController">

            <ion-nav-back-button class="button-clear" style="font-size: 14px; color: #a2a2a2;" ng-click="myGoBack()">
                <i class="icon ion-ios-arrow-left" style="color: black; font-size: 14px;"></i>
            </ion-nav-back-button>

            <ion-nav-buttons side="secondary">
                <button class="button" style="border: none; background: white; color: #111;" ng-click="myGoHome()">
                    <i class="icon ion-android-home"></i>
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>

        <script>
            window.global = {
                config:{
                    user: JSON.parse('<%-JSON.stringify(user)%>')
                }
            }
        </script>
        <script  src="lib/ionic/js/ionic.bundle.min.js"></script>
        <script  src="lib/ngTouch/ngTouch.min.js"></script>
        <script  src="a-bugubus/route.js?v=<%=version%>"></script>
        <script  src="a-bugubus/controller.js?v=<%=version%>"></script>
        <script  src="a-bugubus/controller2.js?v=<%=version%>"></script>
        <script  src="a-bugubus/controller3.js?v=<%=version%>"></script>
        <script  src="a-bugubus/directive.js?v=<%=version%>"></script>
        <script  src="a-bugubus/service.js?v=<%=version%>"></script>
        <script  src="lib/ion-datetime-picker-master/release/ion-datetime-picker.min.js"></script>
        <script  src="lib/js-barcode/JsBarcode.code128.min.js"></script>
        <script  src="lib/js-qrcode/qrcode.min.js"></script>
        <script  src="lib/ionic-datepicker-master/dist/ionic-datepicker.bundle.min.js"></script>
        <script  src="lib/layer_mobile/layer.js"></script>
        <script  src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
        <script  src="http://webapi.amap.com/maps?v=1.3&key=1a5cdec55ebac9dbd85652429f54d4d1&callback=init&plugin=AMap.CitySearch,AMap.Geocoder,AMap.Driving"></script>
        <script  src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
        <!--腾讯移动h5分析-->
        <!-- <script>
            var _mtac = {};
            (function() {
                var mta = document.createElement("script");
                mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.2";
                mta.setAttribute("name", "MTAH5");
                mta.setAttribute("sid", "500342518");
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(mta, s);
            })();
        </script> -->
    </body>

</html>
